#map{
  height: 400px;
  width: auto;
  margin-top: 60px;
}
#camera, #photo{
  height: 150px;
  width: 200px;
  border: 3px double gray;
}
#camera{
  margin: 0 auto;
}
#photobuttons{
  text-align: center;
  display: inline;
}
.photobutton{
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}
#previewPic{
  height: 200px;
  width: 200px;
  border: 2px solid white;
}
.showcase{
  height: 200px;
  width: 200px;
  margin-top: 11px !important;
}
h3, .fixed{
  position: fixed;
}
.scroll{
  float: right;
}
.pad{
  padding-top: 50px;
}
#hoods{
  margin-top: 50px;
}
#homeForm{
  margin-top: 60px;
}
.stripes:nth-child(even){
  background-color: #aaa;
}
.marginfix{
  margin-left: 3px;
}
#nhoodname{
  margin-top: -15px;
}
