h3 WELCOME TO CZILLO!?!??!


.row
  .col-xs-9.fixed
    #map
    button.btn.btn-success.btn-md(ng-show='activeUser' ng-click='showAll()') Show All Houses
  .col-xs-3.scroll
    .row
      br
      br
      h4(ng-show='activeUser') Your Houses
      h4(ng-hide='activeUser') All Houses
      .row.marginfix
        .row.stripes(ng-repeat='house in houses' ng-mouseenter='bounceMarker(house)' ng-mouseleave='bounceMarker(house)')
          .col-xs-12
            h4: a(ui-sref='houses.show({houseId: house._id})') {{house.address}}
          .col-xs-4
            img.img-responsive(ng-src='{{house.photo}}')
          .col-xs-8
            ul
              li Bedrooms: {{house.bedrooms}}
              li Baths: {{house.bathrooms}}
              li Square Feet: {{house.sqFt}}
          .col-xs-12
            h5 Price • {{house.price | currency}}
