h3 Add Your Home to Czillo

.row
  .col-xs-8.col-xs-offset-2#homeForm
    form(novalidate)
      .form-group
        input(type='text' ng-model='house.address' placeholder='Address')
        input(type='text' ng-model='house.city' placeholder='City')
        select(ng-model='house.state')
          option(ng-repeat='state in states') {{state}}
        input(type='text' ng-model='house.zipCode' placeholder='Zip Code')
      .form-group
        input(type='number' ng-model='house.bedrooms' placeholder='Bedrooms')
        input(type='number' ng-model='house.bathrooms' placeholder='Bathrooms')
        input(type='number' ng-model='house.sqFt' placeholder='Square Footage')
        input(type='number' ng-model='house.price' placeholder='Asking Price')
        //- input(type='text' ng-model='house.photo' placeholder='Photo Url')
      .form-group
        img#photo(ng-src='{{house.photo}}')
      .form-group
        button.btn.btn-success(ng-click='geoCode(house)' ng-hide='house._id') Add Home
        button.btn.btn-info(ng-click='geoCode(house)' ng-show='house._id') Save Edit
        button.btn.btn-info(ng-click='preview()') Preview
        .col-xs-4
          input.form-control(type='file', name='photo', onchange='angular.element(this).scope().preview()')
        //- img#previewPic(ng-src='{{tempPhoto}}')
    hr
    .row
      .col-xs-12#photobuttons
        button.btn.btn-success.photobutton(ng-click='cameraOn()' ng-hide='camera'): i.fa.fa-camera &nbsp;&nbsp; Turn on Camera
        button.btn.btn-warning.photobutton(ng-click='takePhoto()' ng-show='camera'): i.fa.fa-bolt &nbsp;&nbsp; Take Picture
        button.btn.btn-danger.photobutton(ng-click='cameraOff()' ng-show='camera'): i.fa.fa-ban &nbsp;&nbsp; Turn off Camera
    .row.center
      .col-xs-12
        #camera(ng-show='camera')
      
