.row
  .col-xs-4
    #map.showcase
  .col-xs-8
    .row
      .col-xs-12
        h4 {{house.address}}
      .col-xs-12
        img.img-responsive#showPic(ng-src='{{house.photo}}')
      .col-xs-8
        ul
          li Bedrooms: {{house.bedrooms}}
          li Baths: {{house.bathrooms}}
          li Square Feet: {{house.sqFt}}
      .col-xs-12
        h5 Price • {{house.price | currency: fractionsize(0)}}
      .col-xs-4
        button.btn.btn-warning.btn-sm(ng-click='editHouse()') Edit House
        button.btn.btn-danger.btn-sm(ng-click='destroyHouse()') Delete House
