div.pad
  h3 SHOW NEIGHBORHOOD
  h4#nhoodname {{neighborhood.name}}

  .row
    .col-xs-12.col-md-9
      #map
    .col-xs-12.col-md-3
      button.form-control.btn.btn-success.btn-lg(ui-sref='houses.add({zip: neighborhood.zipCode})') Add New House
      .row.stripes(ng-repeat='house in houses' ng-mouseenter='bounceMarker(house)' ng-mouseleave='bounceMarker(house)')
        .col-xs-12
          h4: a(ui-sref='houses.show({houseId: house._id})') {{house.address}}
        .col-xs-4
          img.img-responsive(ng-src='{{house.photo}}')
        .col-xs-8
          ul
            li Bedrooms: {{house.bedrooms}}
            li Baths: {{house.bathrooms}}
            li Square Feet: {{house.sqFt}}
        .col-xs-12
          h5 Price • {{house.price | currency}}
    
